html, body {
    background: #000000 !important;
    min-width: 100%;
    color: #ffffff !important;
    min-height: 100%;
    position: relative;
}

.jumbotron {
    min-height: 100%;
    background-color: #000000 !important;
    margin-bottom: 0;
}

.wrapper {
    height: calc(100vh);
    padding-bottom: calc(40vh);
}

canvas {
    position: absolute;
    bottom: 0;
}

footer {
    position: absolute;
    bottom: 0;
}
