{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="somebody">
    <title>Title</title>
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    {% block static_css %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    {% block static_js %}
    {% endblock %}
</body>
</html>