<div class="form-group">
    <label class="col-form-label" for="formAuthor">Author</label>
    <input type="text" class="form-control" id="formAuthor" name="username"
           placeholder="Необязательно">
</div>
<div class="form-group">
    <label class="col-form-label" for="formLead">Title</label>
    <input type="text" class="form-control" id="formLead" name="title" placeholder="Необязательно">
</div>
<div class="form-group">
    <label for="formMessage">Message</label>
    <textarea class="form-control" id="formMessage" name="lead" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-primary">Submit</button>