{% extends 'mom_lovers/layout_mom_lovers.html' %}
{% block mom_content %}
    <div class="container">
        {% for thread in Content %}
            <div class="row">
                <div class="col">
                    <h3>{{ thread.title }}</h3>
                    <p>{{ thread.lead }}</p>
                    <a href="{% url 'mom_lovers:mom_lovers_thread' pk=thread.id %}">Написать в группу</a>
                </div>
            </div>
            <hr>
        {% endfor %}
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-4"></div>
            <div class="col-xs-10 col-sm-10 col-md-4">
                <form class="thread_form" action='{% url 'mom_lovers:mom_lovers_thread_list' %}' method="post">
                    {% include 'mom_lovers/form.html' %}
                </form>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-4"></div>
        </div>
    </div>
{% endblock %}
